@using ReadingListPlus.Common.App_GlobalResources

@{
    ViewData["Title"] = Resources.ApplicationName;
}

<div class="jumbotron">
    <h1>@Resources.ApplicationName</h1>
    <p class="lead">Please log in.</p>
</div>
