@using ReadingListPlus.Common.App_GlobalResources
@using ReadingListPlus.Web.Core.Controllers

@model ReadingListPlus.Services.ViewModels.DeckViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Resources.ItemCollection.ToLower() "@Html.DisplayFor(model => model.Title)"?</h3>

<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="@nameof(DecksController.Index)" class="btn btn-default">Back</a>
</form>
