@using ReadingListPlus.Common.App_GlobalResources
@using ReadingListPlus.Web.Core.Controllers

@model ReadingListPlus.DataAccess.Models.Deck

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <div class="form-horizontal">
        <h4>@Resources.ItemCollection</h4>

        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="ID" />

        <div class="form-group row">
            <label asp-for="Title" class="control-label col-md-2"></label>
            <div class="col-md-8">
                <input asp-for="Title" class="form-control focused" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Save" class="btn btn-success btn-block" />
            </div>
            <div class="col-md-offset-4 col-md-2">
                <a asp-action="@nameof(DecksController.Delete)" asp-route-id="Model.ID" class="btn btn-danger btn-block">Delete</a>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-2">
                <a asp-action="@nameof(DecksController.Index)" class="btn btn-default btn-block">Back</a>
            </div>
        </div>
    </div>
</form>
