@using ReadingListPlus.Web.Core.Controllers

@model ReadingListPlus.Web.Core.ViewModels.ImportViewModel

@{
    ViewBag.Title = "Backup/Restore";
}

@section scripts {
    <script src="~/js/App/Import.js"></script>
}

<h2>Backup</h2>

<p>
    <a asp-action="@nameof(DecksController.Export)" asp-route-id="@($"KM-BACKUP-{DateTime.UtcNow.ToString("yyyy-MM-dd-hh-mm-ss")}")">Backup Knowledge Base</a>
</p>

<h2>Restore</h2>

<form method="post" enctype = "multipart/form-data">
    <input asp-for="File" />
    <span asp-validation-for="File" />
</form>