@using ReadingListPlus.Common.App_GlobalResources
@using ReadingListPlus.Web.Core.Controllers

@model ReadingListPlus.Web.Core.ViewModels.EditCardViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <div class="form-horizontal">
        <h4>@Resources.Item</h4>

        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="ID" />

        <div class="form-group row">
            <label asp-for="Title" class="control-label col-md-2"></label>
            <div class="col-md-8">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Text" class="control-label col-md-2"></label>
            <div class="col-md-8">
                <textarea asp-for="Text" class="form-control focused" rows=10></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Url" class="control-label col-md-2"></label>
            <div class="col-md-8">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Type" class="control-label col-md-2"></label>
            <div class="col-md-8">
                <select asp-for="Type" asp-items="Html.GetEnumSelectList(Model.Type.GetType())" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Save" class="btn btn-success btn-block" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-2">
                <a asp-controller="@DecksController.Name" asp-action="@nameof(DecksController.Details)" asp-route-id="@Model.DeckID" class="btn btn-default btn-block">Back</a>
            </div>
        </div>
    </div>
</form>
