@page

@model HomeIndexModel

@{
    ViewData[Constants.ViewTitle] = Resources.ApplicationName;
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData[Constants.ViewTitle]</h1>
    <p class="lead">Please <a asp-area="Identity" asp-page="/Account/Login">log in</a>.</p>
</div>

