body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.extract {
    color: black;
    background-color: cyan;
}

.extractselected {
    color: black;
    background-color: lime;
}

.cloze {
    color: black;
    background-color: black;
    display: inline-block;
    text-align: center;
}

.clozeselected {
    color: black;
    background-color: lime;
    display: inline-block;
    text-align: center;
}

.bookmark {
    color: black;
    background-color: orange;
}

.bookmarkselected {
    color: black;
    background-color: lime;
}

.highlight {
    color: black;
    background-color: yellow;
}

.highlightselected {
    color: black;
    background-color: lime;
}

.actions {
    background-color: white;
    padding: 5px;
    width: 100%;
}

.mainPanelPlaceholder {
    height: 30px;
}

.w-10 {
    width: 10%;
}

.notes-table td:last-child {
    text-align: right;
    white-space: nowrap;
}