/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.extract {
    color: black;
    background-color: cyan;
}

.extractselected {
    color: black;
    background-color: lime;
}

.cloze {
    color: black;
    background-color: black;
    display: inline-block;
    text-align: center;
}

.clozeselected {
    color: black;
    background-color: lime;
    display: inline-block;
    text-align: center;
}

.bookmark {
    color: black;
    background-color: orange;
}

.bookmarkselected {
    color: black;
    background-color: lime;
}

.highlight {
    color: black;
    background-color: yellow;
}

.highlightselected {
    color: black;
    background-color: lime;
}

.actions {
    background-color: white;
    padding: 5px;
    width: 100%;
}

.w-80 {
    width: 80%;
}
