body {
    padding-top: 58px;
    padding-bottom: 20px;
    font-size: 16px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
    margin: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

span.extract {
    color: black;
    background-color: cyan;
}

.extractselected {
    color: black;
    background-color: lime;
}

.cloze {
    color: black;
    background-color: black;
    display: inline-block;
    text-align: center;
}

.clozeselected {
    color: black;
    background-color: lime;
    display: inline-block;
    text-align: center;
}

.bookmark {
    color: black;
    background-color: orange;
}

.bookmarkselected {
    color: black;
    background-color: lime;
}

.highlight {
    color: black;
    background-color: yellow;
}

.highlightselected {
    color: black;
    background-color: lime;
}

.newRepetition {
    color: red;
}

.actions {
    background-color: white;
    width: 100%;
}

.topPanel {
    padding-top: 5px;
}

.mainPanel {
    padding-bottom: 5px;
}

.selection-panel {
    display: inline-block;
    padding-top: 5px;
}

.postpone-panel {
    display: inline-block;
    padding-top: 5px;
}

.url {
    word-break: break-all;            
}

input.no-zoom, textarea.no-zoom, select.no-zoom {
    font-size: inherit;
}

table.notes-table {
    width: 100%;
}

    table.notes-table tr td {
        vertical-align: middle;
    }

        table.notes-table tr td:nth-child(1) {
            width: 1%;
            white-space: nowrap;
        }

        table.notes-table tr td:nth-child(2) {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        table.notes-table tr td:nth-child(3) {
            width: 1%;
            white-space: nowrap;
        }


table.decks-table tr td {
    vertical-align: middle;
}
