@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Author:</strong> Denis Nekrylov<br />
    <strong>Email:</strong> <a href="mailto:neodenit@gmail.com">neodenit@gmail.com</a>
</address>