@{
    ViewBag.Title = "Reading List Plus";
}

<div class="jumbotron">
    <h1>Reading List Plus</h1>
    <p class="lead">Please log in.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Reading List Plus extracts allow you to take the best of your reading process.
        </p>
    </div>
</div>
