@using ReadingListPlus.App_GlobalResources

@{
    ViewBag.Title = Resources.ApplicationName;
}

<div class="jumbotron">
    <h1>@(Resources.ApplicationName)</h1>
    <p class="lead">Please log in.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            @(Resources.ApplicationName)
        </p>
    </div>
</div>
