@page
@model ReadingListPlus.Web.Core.Pages.Home.AboutModel

@{
    ViewData[Constants.ViewTitle] = "About";
}

<h2>@ViewData[Constants.ViewTitle]</h2>
<h3>@ViewData[Constants.ViewMessage]</h3>

<p>Additional information.</p>


